* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $body-backgroud-color;
    font-family: $body-default-font-family;
    font-size: $base-font-size;
    color: $body-default-color;
}

h1 {
    font-weight: 300;
    margin-bottom: $space;
}

h2 {
    font-size: $large-font-size;
    margin-bottom: $space;
}

a {
    color: $body-default-color;
}

p {
    margin-bottom: $space;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
    border: 1px solid $input-border;
    color: $body-default-color;
    font-family: $body-default-font-family;
    font-size: $base-font-size;
    margin-bottom: $space;
    padding: $input-spacing;
}