.page-content {
    display: flex;
    max-width: $site-max-width;
    margin: 0 auto;
    padding: $space
}

.page-content__sidebar {
    width: $page-content-sidebar-width;
}

.page-content__main {
    width: $page-content-main-width;
}